.container.color-ghost-white.margin-bottom-20
  .row.padding-vertical-20
    .padding-20
      %h2.font-44.font-bold.text-center.margin-top-20.margin-bottom-30
        %a.color-ghost-white{:href => "/#{@tournament.slug}"}
          = @tournament.name
      %p.font-24.text-center.color-ghost-white.margin-bottom-40
        Huntington Beach Field Hockey Club of Orange County, California would like to cordially invite your club to their #{@tournament.name} to be held on #{@tournament.start_time.to_date.to_formatted_s(:long)} – #{@tournament.end_time.to_date.to_formatted_s(:long)} in Orange, California.
    = render :partial => "shared/annual_tournament_schedule_points"
    - if tournament_upcoming
      #tournament_highlights
        .col-sm-4.text-center.padding-vertical-20
          %a.padding-20.bg-shadow.border-radius.block-link{ :href => "/#{@tournament.slug}/register"}
            .h3.font-32.margin-bottom-20 Register Today
            .glyphicon.glyphicon-list-alt.font-48
            %p.font-20.margin-top-20.margin-bottom-20
              Register online by clicking here. You can also register by emailing us at HBSurfers@hotmail.com or call (714) 585-2511.
        .col-sm-4.text-center.padding-vertical-20
          %a.padding-20.bg-shadow.border-radius.block-link{ :href => "/#{@tournament.slug}"}
            .h3.font-32.margin-bottom-20 Tournament Home
            .glyphicon.glyphicon-home.font-48
            %p.font-20.margin-top-20.margin-bottom-20
              Find out more about Surfers' #{@tournament.name}. Download Forms. View Schedule and Standings.
        .col-sm-4.text-center.padding-vertical-20
          %a.padding-20.bg-shadow.border-radius.block-link{ :href => "http://maps.google.com/?q=2190 N Canal St, Orange, CA 92865", :target => "_blank"}
            %h3.font-32.margin-bottom-20 Location of Event
            .glyphicon.glyphicon-map-marker.font-48
            %p.font-20.margin-top-20.margin-bottom-20
              View Google Map and directions for #{@tournament.location}.