- if !@tournament_feedback.nil?
  %h3 2013 Tournament Feedback
  - if @tournament_feedback.length
    - @tournament_feedback.each do |f|
      .well
        %h5 #{f.team_name}
        %p
          Manager: #{f.manager_name}
          %br
          Captain: #{f.captain_name}
        %table.table.table-striped.margin-0.table-bordered
          %tr
            %th Management
            %th Umpiring
            %th Competition Level
            %th Will Recommend
            %th Will Play Again
          %tr
            %td #{f.management_score}
            %td #{f.umpiring_score}
            %td #{f.competition_level_score}
            %td #{f.will_recommend ? "Yes" : "No"}
            %td #{f.will_play_again ? "Yes" : "No"}

        - if ! f.suggestion.nil?
          %h5 Suggestions:
          %p
            = f.suggestion

  - else
    %p No feedback entries to show yet.