!!!
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/meta"
  %body{ :class => body_class_name }
    = render "shared/fb_setup"
    #container.clearfix.container-fluid.padding-0
      = render "shared/header"

      #content
        .yielded-content
          = yield

      = render "shared/footer"
