!!!
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/meta"
  %body{ :class => body_class_name }
    = render "shared/fb_setup"
    #container.clearfix
      = render "shared/header"

      #content.center-aligned.full-width.clearfix
        = render "shared/navigation"
        .yielded-content.pull-left.padding-20.panel.margin-bottom-20
          = yield

      = render "shared/footer"
