!!!
%html
  %head
    %title Surfers
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/meta"
  %body
    #container.clearfix
      = render "shared/header"

      #content.center-aligned.full-width.clearfix
        = render "shared/navigation"
        .yielded-content.pull-left.padding-top-20
          = yield

      = render "shared/footer"
